%p
  Hi, this is #{link_to "Philip", "http://seedly.me/about"}.
  Thanks for joining Seedly!
%p
  I'll follow up with you shortly to help get you started on becoming a successful vegetable gardener. In the meantime, here are some documents to help you understand how we're going to do this.
  
%br
%hr
= render 'shared/email_footer'
