.navbar
  .navbar-inner
    .container
      %a{:class => "brand", :href => ""} Seedly
      %ul(class="nav")
        %li(class="#{controller.action_name == 'dashboard' ? 'selected' : ''}")
          %a(href = "/dashboard") Dashbaord
        %li
          %a(href = "/") Contact