.clear
%br
%footer.footer
  © 2012 Seedly  
  = link_to "Twitter", "http://twitter.com/seedlyme"
  | 
  = link_to "Facebook", "http://facebook.com/seedlyme"
  | 
  = link_to "Seedly Blog", "http://blog.seedly.me"