.menu
  .item
    = link_to image_tag("https://seedly.s3.amazonaws.com/choose_kit_button.png"), choose_kit_path
  .item
    = link_to image_tag("https://seedly.s3.amazonaws.com/about_seedly_button.png"), how_works_path
  /.item
  /= link_to image_tag("https://seedly.s3.amazonaws.com/faq_button.png"), how_works_path

.logo
  = link_to image_tag("https://seedly.s3.amazonaws.com/logo_with_tagline.png"), "/"

.heading
  .main
  .sub
    
