%form{:action => "/lookup_zip", :class => "form-inline"}
    %input{:name => "postal_code", :type => :text, :class => "input-small", :placeholder => "enter zip", :value => params[:postal_code]}
    %input{:type => :submit, :class => "btn"}