/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_self
*/

.plant {
	padding: 3px;
}
.plant .image {
	display: inline-block;
	width: 150px;
}
.plant .details {
	display: inline-block;
	width: 300px;
}
.plant .details .item {
	display: inline-block;
	width: 30px;
}
.plant .details .item img {
	width: 25px;
	height: 25px;
}
.plant .name {
	font-size: 16px;
	font-weight: bold;
}
.plant img.drawing {
	height: 70px;
	width: 100px;
}
.clear {
	clear: both;
}

.forecast .day {
	width: 200px;
	border: 1px solid #ddd; 
	padding: 8px;
}

.hero-unit {
	background-color: #89a02c;
}
.hero-unit h1.small {
	font-size: 50px; 
	color: #F0E8A5;
}
.hero-unit input.home {
	font-size: 24px;
  line-height: 30px;
}
.hero-unit input[type='text'].home {
height: 30px;
}
.step {
	display:inline-block;
	width: 700px;
	padding: 30px;
}

.step img {width: 311px;height: 311px;float:left;margin-right: 50px;}
.step h3 {margin: 40px;}

/* bootstrap navbar */
