/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_self
 *= require_tree .
*/

#content {
	background-image: url('https://seedly.s3.amazonaws.com/beet_header_medium.png');
	background-repeat:no-repeat;
	background-position:500px 0px; 
	margin: 0 auto; 
	width: 900px;
	}
body {
  background-color: #EFE5AD;
  font-family: 'Josefin Slab', serif;
}
p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
}

/* Header */
.menu {
	right:0;
	top: 40px;
	position:fixed;
}

/* Home page */
/* red: D8592E
   orange: D79642
   green: 88A13B
*/
table.main tr td {
	border:none;
	vertical-align: middle;
	font-size: 22px;
	line-height: 26px;
	padding: 0;
}
.heading {
	padding: 20px 0 20px 22px;
}
.heading .main
  {
	line-height: 26px;
	font-size: 26px;
}
.heading .sub  
	{
	line-height: 22px;
	font-size: 20px;
}
#header {
	padding-bottom: 25px;
}

/* choose kits */
.kit {
	padding: 10px 0 20px 0;
}
.kit .body {
	background-color: white;
}
.kit .body .choose img {
	padding-top: 15px;
	margin-right: -5px;
	float:right;
}
.kit .body img.main {
	padding-left: 20px;
}
.kit .name {
	font-size: 24px;
} 