.content_container
  %h1 Who We Are

  %p
    We're a few people who live in Madison, Wisconsin and we're crazy about food.  Everything about it.
  
  %p
    We have more to say, but for now you can read about our backgrounds and plans on  
    = link_to "the Seedly blog", "http://blog.seedly.me"
    while we work on getting everything going this spring.

