.content_container
  %h2 The Story
  %p
    The idea for Seedly grew out of a love for all aspects of food, a concern about the unsustainability of the current system of industrial food production and, most importantly, the desire to help people be more educated about and self sufficient with respect to the food they eat every day. 

  %h2 The Team
  %p 
    We’re a small shop operation: just three folks who live in Madison, Wisconsin and are all kinds of crazy about everything food. Allow us to introduce ourselves:
  %p
    #{link_to 'Philip', 'http://blog.seedly.me/2012/02/12/getting-to-know-seedlys-chief-dude-philip/'}:
    The man with the original plan. This guy loves a good experiment with food; from growing, to canning to pickling to foraging.
  %p
    #{link_to 'Cheri', 'http://blog.seedly.me/2012/02/23/getting-to-know-seedlys-master-gardener-cheri/'}:
    The headmaster of garden knowledge. Our Master Gardener who knows a thing or two about soil, seeds and growing all sorts of things. 
  %h2 The Future
  %p
    We know that we can’t save the world with vegetable gardens alone, but we’re just getting rolling. We have plans to provide kits and information (the customized, personalized sort) to help people with composting, vermiculture (Alyssa’s favorite), pickling, canning (Cheri’s favorite), drying, fermenting and foraging (Philip’s favorite). Eventually we hope to connect people with others in their community who are interested in, and active doing, these kinds of activities. Sure, Seedly wants a relationship with you, but we’d also love to establish real world relationships between Seedly members within their own local communities.


