%h1 Choose your kit

.kit
  .name
    Super Foods
  .body
    .choose
      = link_to image_tag("https://seedly.s3.amazonaws.com/pick_me.png"), "http://shop.seedly.me/?p=detail&pid=1"
    .image
      = image_tag("https://seedly.s3.amazonaws.com/super_foods_kit.png", :class => "main")


.kit
  .name
    Salad Mix
  .body
    .choose
      = link_to image_tag("https://seedly.s3.amazonaws.com/pick_me.png"), "http://shop.seedly.me/?p=detail&pid=2"
    .image
      = image_tag("https://seedly.s3.amazonaws.com/salad_kit.png", :class => "main")