.content_container
  %h1 How Seedly Works

  %h2 What is it?

  %p
    It’s a gardening kit for growing vegetables.

  %h2 What’s in it?

  %p
    To start, seeds on a seed strip. That’s pretty nifty. Here’s why: the seeds are already spaced just right and affixed to a strip of biodegradable material. We do the measuring and seed wrasslin’ so you don’t have to. Just put ‘em in the ground. Also, fertilizer, plant id tags, garden fabric, and a handy cultivator. Just add dirt. But wait, that's just the beginning...

  %h2 Why do it?

  %p
    Two words: <b>personalized instruction</b>. Because we're computer geeks at heart, you get to register your garden with our web site. We send you just-in-time messages and <b>expert advice throughout the growing season</b>. You know what you should be doing - right then - to make your garden grow. These messages, part informational videos, part advice from our expert gardeners, are based on your growing zone. So simple: exactly what you need to know, exactly when you need to know it.

  %h2 And?

  %p
    And that's Seedly. A completely new way to garden.

  %p 
    Need more info?  Send philip an email at:
    = mail_to "philip@seedly.me", "philip@seedly.me"
    and you can also read our blog here
    = link_to "blog.seedly.me", "http://blog.seedly.me"