.content_container  
  %h2 What is it?

  %p
    Using your zip code, we provide you with information and notifications for helping you succeed at vegetable gardening.  Guaranteed.

  %h2 What’s it include?

  %p
    Instructional videos, simple directions, and weekly notifications on exactly what to do.  We also are building a community of gardeners for you to interact with to ask questions and share knowledge.

  %h2 Why do it?

  %p
    Two words: <b>personalized instruction</b>. Because we're computer geeks at heart, you get to register your garden with our web site. We send you just-in-time messages and <b>expert advice throughout the growing season</b>. You know what you should be doing - right then - to make your garden grow. These messages, part informational videos, part advice from our expert gardeners, are based on your growing zone. So simple: exactly what you need to know, exactly when you need to know it.

  %h2 And?

  %p
    And that's Seedly. A completely new way to garden.

  %p 
    Need more info?  Send philip an email at:
    = mail_to "philip@seedly.me", "philip@seedly.me"
    and you can also read our blog here
    = link_to "blog.seedly.me", "http://blog.seedly.me"
  %h2 Try it out
.hero-unit
  %h1.small The Easiest Way to Start a Garden
  %br
  %center
    %form{:action => "/lookup_zip", :class => "form-search"}
      %input{:name => "postal_code", :type => :text, :class => "input home search-query", :placeholder => "your zip", :value => params[:postal_code]}
      = submit_tag("Get Started &#187;".html_safe, options = {:class => "btn home"})