

%table.main
  %tr
    %td
      = image_tag("https://seedly.s3.amazonaws.com/diggin.jpg")
    %td
      We'll ship your seeds (on seed strips!) when your growing zone is ready for planting.
  %tr
    %td
      We send you reminders, advice, and tips for growing, whether your garden is in the ground, a raised bed, or in a planter box.
    %td
      = image_tag("https://seedly.s3.amazonaws.com/gettin_updates.jpg")
  %tr
    %td
      = image_tag("https://seedly.s3.amazonaws.com/watering.jpg")
    %td
      We monitor your growing conditions and send you notifications about exactly what to do.  If you haven't had rain in a few days, we might give you a little nudge to water.  If it's been colder than normal, we might remind you to throw down some ground cover.

